<div class="container">
  <div class="row mt-5">
    <div class="col text-center">
      <img src="img/Jack.png" class="rounded-circle" style="width: 200px" />
      <h2 class="mt-2">Faisal Rahmatdani</h2>
      <h5 class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus, vitae!</h5>
    </div>
  </div>
</div>
